<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <title>About</title>
    <div class="main-content">
        {{>header}}
        <p>Hi! my name is Eliya,
I am doing this project independently in order to practice java script and node.js</p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>


</html>